@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  min-width: 320px;
}

.header {
  max-width: 1440px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 900;
}

.header .menu {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .m-menu {
  display: none;
}

.header .first-half, .header .second-half {
  min-height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.header .first-half__links, .header .second-half__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header .first-half__links li:hover, .header .second-half__links li:hover {
  opacity: 0.6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .icon {
  margin: 25px 35px 0 35px;
}

.welcome-page {
  max-width: 100%;
  width: 100%;
  height: 703px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  top: 0;
  left: 0;
  background: url(../img/header-bg.jpg) 0 0/100% auto no-repeat;
  background-size: cover;
}

.welcome-page .welcome-descriptions {
  max-width: 1440px;
  width: 100%;
  height: 703px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
  top: 0;
  color: white;
}

.welcome-page .welcome-descriptions .working-time {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-page .welcome-descriptions .working-time span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.welcome-page .welcome-descriptions .middle-descriptions {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-page .welcome-descriptions .middle-descriptions .titel-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-page .welcome-descriptions .middle-descriptions h1 {
  margin: 0;
  font-family: "Banny Bold Round";
  text-align: center;
  font-size: 96px;
}

.welcome-page .welcome-descriptions .middle-descriptions .button-more-info {
  margin-top: 30px;
}

.welcome-page .welcome-descriptions .middle-descriptions .button-more-info .yellow-button {
  margin-right: 20px;
}

.welcome-page .welcome-descriptions .middle-descriptions .button-more-info .transparent-button {
  margin-left: 20px;
}

.welcome-page .welcome-descriptions .middle-descriptions .move-next-sections {
  bottom: 10%;
  color: black;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.welcome-page .welcome-descriptions .middle-descriptions .move-next-sections span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  background: white;
  position: absolute;
  border-radius: 50%;
}

.welcome-page .welcome-descriptions .social-contacts {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-page .welcome-descriptions .social-contacts .push-button {
  font-size: 25px;
  position: relative;
  color: white;
  margin: 10px 0;
}

.vertical-lines {
  max-width: 1440px;
  width: 100%;
  height: 703px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
}

.vertical-lines .midle-line:after {
  content: "";
  position: absolute;
  bottom: 20.25%;
  right: 50%;
  height: 460px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.vertical-lines .midle-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  height: 70.4px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.vertical-lines .outer-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.vertical-lines .outer-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.vertical-lines .full-line::before {
  display: none;
}

.vertical-lines .full-line::after {
  content: "";
  height: 100%;
  position: absolute;
  bottom: 0%;
  right: 50%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

._container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover {
  opacity: 0.6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.titel-h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  z-index: 67;
}

.yellow-line {
  display: block;
  height: 5px;
  width: 60px;
  background-color: yellow;
  border-radius: 50px;
}

.yellow-button, .transparent-button {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background: #E8C300;
  color: white;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.yellow-button:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.transparent-button {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.transparent-button:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.push-button {
  position: absolute;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.about-us {
  min-height: 675px;
  width: 100%;
  background: #FFFFFF;
}

.left-content, .right-content {
  width: 50%;
  height: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desription, .photo-content {
  margin: 0 auto;
  max-width: 560px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.desription .titel-h2, .photo-content .titel-h2 {
  margin: 0 auto;
  font-family: "Banny Bold Round";
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
}

.desription .titel-h4, .desription .text, .photo-content .titel-h4, .photo-content .text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  padding: 0 15px;
}

.desription .text, .photo-content .text {
  font-size: 13px;
  font-weight: 500;
  max-height: 200px;
  overflow: hidden;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.photo-content {
  height: 600px;
  width: 600px;
  position: relative;
  margin: 0 20px;
}

.photo-content .item__img-rigth {
  height: 79.1668%;
  width: 79.1668%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 3;
}

.photo-content .item__span-rigth {
  height: 35%;
  width: 35%;
  border: 20px solid #E8C300;
  z-index: 4;
  position: absolute;
  top: 28.5%;
  left: 58.5%;
  z-index: 4;
}

.photo-content .item__img-left {
  height: 79.1668%;
  width: 79.1668%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 3;
}

.photo-content .item__span-left {
  height: 35%;
  width: 35%;
  border: 20px solid #E8C300;
  z-index: 4;
  position: absolute;
  top: 28.5%;
  right: 58.5%;
  z-index: 4;
}

.our-team {
  min-height: 675px;
  max-width: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg-2.jpg) 0 0/100% auto no-repeat;
  background-size: cover;
  color: white;
}

.our-team .vertical-lines {
  max-height: 100%;
}

.titel-h4, .text {
  opacity: 0.9;
  z-index: 5;
}

.section__header {
  max-width: 1440px;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 5;
  top: 25px;
}

.book-a-table {
  position: relative;
}

.book-a-table .yellow-button {
  max-width: 515px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 5px 0 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.input-field {
  padding: 10px;
  max-width: 250px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  margin: 5px;
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
}

.section__footer {
  max-width: 1440px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 25px;
  z-index: 5;
}

.section__footer .footer__item-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
}

.section__footer .footer__item-text a {
  color: rgba(51, 51, 51, 0.5);
}

.specialties {
  background: url(../img/bg-3.jpg) 0 0/100% auto no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}

.specialties .vertical-lines {
  height: 100%;
}

.specialties .slick-slider-specialties {
  min-width: 0;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.specialties .slick-slider-specialties .slick-slider-specialties__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specialties .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.specialties .slick-slider {
  position: relative;
}

.specialties .slick-dots {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 4%;
  width: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 4px;
}

.specialties .slick-dots li button::before {
  content: '•';
  color: white;
  opacity: 0.5;
  font-size: 15px;
}

.specialties .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.delicious-menu {
  padding: 100px 0;
}

.delicious-menu ._container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delicious-menu .categories-menu {
  max-width: 1440px;
  width: 100%;
}

.delicious-menu .categories-menu ul {
  max-width: 1280px;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.delicious-menu .categories-menu ul li {
  text-align: center;
  max-width: 80px;
  width: 100%;
  padding: 18.2px 20px;
  position: relative;
}

.delicious-menu .categories-menu ul li span:after {
  content: "";
  height: 100%;
  width: 1px;
  background: rgba(51, 51, 51, 0.2);
  position: absolute;
  top: 0;
  right: 0;
}

.delicious-menu .categories-menu ul li:last-child span {
  display: none;
}

.delicious-menu .available-menu {
  max-width: 1440px;
  width: 100%;
}

.delicious-menu .available-menu .menu__items {
  max-width: 1280px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.delicious-menu .available-menu .menu__items .dish__desriptions {
  max-width: 363px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Banny Bold Round";
  font-size: 18px;
  line-height: 18px;
  margin: 25px 15px;
  padding: 0 15px;
}

.delicious-menu .available-menu .menu__items .dish__desriptions .dish__desriptions__item {
  max-width: 250px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 70px;
  height: 100%;
}

.delicious-menu .available-menu .menu__items .dish__desriptions .dish__desriptions__item .name-dishs {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.delicious-menu .available-menu .menu__items .dish__desriptions .dish__desriptions__item .short-desriptions {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
}

.private-events {
  position: relative;
  background: url(../img/bg-4.jpg) 0 0/100% auto no-repeat;
  background-size: cover;
  color: white;
}

.private-events .footer__item-text {
  color: rgba(255, 255, 255, 0.5);
}

.private-events .footer__item-text a {
  color: rgba(255, 255, 255, 0.5);
}

.item__span__label-left, .item__span__label-right {
  max-width: 80px;
  width: 100%;
  max-height: 475px;
  height: 100%;
  background: black;
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 6;
  font-size: 24px;
  line-height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-indent: 20px;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-box-shadow: 4px 1px 0px 4px black;
          box-shadow: 4px 1px 0px 4px black;
}

.item__span__label-right {
  left: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.photo-gallery {
  max-width: 1688px;
  margin: 0 auto;
}

.photo-gallery ._container {
  max-width: 1688px;
}

.photo-gallery ._container .photo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1688px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.contact {
  min-height: 645px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact ._container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact #contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact #contact .input-field {
  max-width: 420px;
  width: 100%;
}

.contact #contact #contact-message {
  min-height: 120px;
  max-width: 1280px;
  width: 100%;
  line-height: 25px;
  resize: none;
}

.contact #contact label, .contact #contact .yellow-button {
  max-width: 640px;
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

.contact #contact label a, .contact #contact .yellow-button a {
  color: rgba(51, 51, 51, 0.5);
}

.contact #contact label {
  color: rgba(51, 51, 51, 0.5);
  padding: 0 10px;
  line-height: 20px;
}

.contact #contact label i {
  padding: 0 10px;
  color: #E8C300;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
}

.map {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.map .google-map {
  min-height: 475px;
  max-width: 1440px;
  width: 100%;
}

.footer {
  width: 100%;
  min-height: 100px;
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1300px) {
  .delicious-menu .available-menu .menu__items {
    max-width: 846px;
  }
  #contact {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1125px) {
  .book-a-table .yellow-button {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    max-width: 250px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .delicious-menu .categories-menu {
    max-width: 450px;
    margin: 15px 0;
  }
  .delicious-menu .categories-menu ul li {
    padding: 12px 12px;
  }
  .delicious-menu .available-menu .menu__items {
    max-width: 400px;
  }
}

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    background-color: #E8C300;
    position: fixed;
    min-height: 60px;
    width: 100%;
  }
  .header .m-menu {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #E8C300;
    display: block;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .header .m-menu ul {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .header .m-menu ul li {
    font-size: 20px;
    margin: 20px 0 20px 20px;
  }
  .header .active-burger {
    left: 0;
    top: 0;
  }
  .header .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    right: 0;
    margin: 20px;
  }
  .header .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
  }
  .header .header__burger:before, .header .header__burger:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: 20;
  }
  .header .header__burger:before {
    top: 0;
  }
  .header .header__burger::after {
    bottom: 0;
  }
  .header .menu {
    display: none;
  }
  .vertical-lines {
    display: none;
  }
  .welcome-page {
    height: 450px;
  }
  .welcome-page .welcome-descriptions {
    height: 450px;
  }
  .welcome-page .welcome-descriptions .middle-descriptions {
    height: 450px;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .welcome-page .welcome-descriptions .middle-descriptions h1 {
    font-size: 50px;
  }
  .welcome-page .welcome-descriptions .middle-descriptions .button-more-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .welcome-page .welcome-descriptions .middle-descriptions .button-more-info .yellow-button, .welcome-page .welcome-descriptions .middle-descriptions .button-more-info .transparent-button {
    margin: 5px 0;
  }
  .welcome-page .welcome-descriptions .middle-descriptions .move-next-sections {
    display: none;
  }
  .welcome-page .welcome-descriptions .social-contacts, .welcome-page .welcome-descriptions .working-time {
    display: none;
  }
  .about-us, .our-team, .book-a-table, .specialties, .private-events, .delicious-menu, .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us ._container, .our-team ._container, .book-a-table ._container, .specialties ._container, .private-events ._container, .delicious-menu ._container, .contact ._container {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-us ._container .desription, .our-team ._container .desription, .book-a-table ._container .desription, .specialties ._container .desription, .private-events ._container .desription, .delicious-menu ._container .desription, .contact ._container .desription {
    margin: 0;
    padding: 0;
  }
  .about-us ._container .right-content, .about-us ._container .left-content, .our-team ._container .right-content, .our-team ._container .left-content, .book-a-table ._container .right-content, .book-a-table ._container .left-content, .specialties ._container .right-content, .specialties ._container .left-content, .private-events ._container .right-content, .private-events ._container .left-content, .delicious-menu ._container .right-content, .delicious-menu ._container .left-content, .contact ._container .right-content, .contact ._container .left-content {
    width: 100%;
    height: 100%;
  }
  .about-us ._container .right-content .photo-content, .about-us ._container .left-content .photo-content, .our-team ._container .right-content .photo-content, .our-team ._container .left-content .photo-content, .book-a-table ._container .right-content .photo-content, .book-a-table ._container .left-content .photo-content, .specialties ._container .right-content .photo-content, .specialties ._container .left-content .photo-content, .private-events ._container .right-content .photo-content, .private-events ._container .left-content .photo-content, .delicious-menu ._container .right-content .photo-content, .delicious-menu ._container .left-content .photo-content, .contact ._container .right-content .photo-content, .contact ._container .left-content .photo-content {
    min-height: 400px;
    height: 100%;
  }
  .about-us ._container .right-content .photo-content .photo__item, .about-us ._container .left-content .photo-content .photo__item, .our-team ._container .right-content .photo-content .photo__item, .our-team ._container .left-content .photo-content .photo__item, .book-a-table ._container .right-content .photo-content .photo__item, .book-a-table ._container .left-content .photo-content .photo__item, .specialties ._container .right-content .photo-content .photo__item, .specialties ._container .left-content .photo-content .photo__item, .private-events ._container .right-content .photo-content .photo__item, .private-events ._container .left-content .photo-content .photo__item, .delicious-menu ._container .right-content .photo-content .photo__item, .delicious-menu ._container .left-content .photo-content .photo__item, .contact ._container .right-content .photo-content .photo__item, .contact ._container .left-content .photo-content .photo__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .about-us ._container .right-content .photo-content .photo__item .item__img-rigth, .about-us ._container .right-content .photo-content .photo__item .item__img-left, .about-us ._container .left-content .photo-content .photo__item .item__img-rigth, .about-us ._container .left-content .photo-content .photo__item .item__img-left, .our-team ._container .right-content .photo-content .photo__item .item__img-rigth, .our-team ._container .right-content .photo-content .photo__item .item__img-left, .our-team ._container .left-content .photo-content .photo__item .item__img-rigth, .our-team ._container .left-content .photo-content .photo__item .item__img-left, .book-a-table ._container .right-content .photo-content .photo__item .item__img-rigth, .book-a-table ._container .right-content .photo-content .photo__item .item__img-left, .book-a-table ._container .left-content .photo-content .photo__item .item__img-rigth, .book-a-table ._container .left-content .photo-content .photo__item .item__img-left, .specialties ._container .right-content .photo-content .photo__item .item__img-rigth, .specialties ._container .right-content .photo-content .photo__item .item__img-left, .specialties ._container .left-content .photo-content .photo__item .item__img-rigth, .specialties ._container .left-content .photo-content .photo__item .item__img-left, .private-events ._container .right-content .photo-content .photo__item .item__img-rigth, .private-events ._container .right-content .photo-content .photo__item .item__img-left, .private-events ._container .left-content .photo-content .photo__item .item__img-rigth, .private-events ._container .left-content .photo-content .photo__item .item__img-left, .delicious-menu ._container .right-content .photo-content .photo__item .item__img-rigth, .delicious-menu ._container .right-content .photo-content .photo__item .item__img-left, .delicious-menu ._container .left-content .photo-content .photo__item .item__img-rigth, .delicious-menu ._container .left-content .photo-content .photo__item .item__img-left, .contact ._container .right-content .photo-content .photo__item .item__img-rigth, .contact ._container .right-content .photo-content .photo__item .item__img-left, .contact ._container .left-content .photo-content .photo__item .item__img-rigth, .contact ._container .left-content .photo-content .photo__item .item__img-left {
    border: 20px solid #E8C300;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
  }
  .about-us .item__span-rigth, .about-us .item__span-left, .our-team .item__span-rigth, .our-team .item__span-left, .book-a-table .item__span-rigth, .book-a-table .item__span-left, .specialties .item__span-rigth, .specialties .item__span-left, .private-events .item__span-rigth, .private-events .item__span-left, .delicious-menu .item__span-rigth, .delicious-menu .item__span-left, .contact .item__span-rigth, .contact .item__span-left {
    display: none;
  }
  .our-team ._container {
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .book-a-table ._container {
    padding-bottom: 60px;
  }
  .book-a-table .photo-content {
    display: none;
  }
  .specialties .slick-track {
    padding: 50px 0;
  }
  .specialties .slick-slider-specialties__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .specialties .slick-slider-specialties__item:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .specialties .slick-dots {
    bottom: 0;
  }
  .delicious-menu {
    padding: 25px 0;
  }
  .delicious-menu .desription .titel-h4 {
    margin: 10px;
  }
  .delicious-menu .available-menu .menu__items .dish__desriptions {
    margin: 20px 0;
  }
  .delicious-menu .available-menu .menu__items .dish__desriptions .dish__desriptions__item .name-dishs {
    font-size: 15px;
  }
  .delicious-menu .available-menu .menu__items .dish__desriptions .dish__desriptions__item .short-desriptions {
    font-size: 10px;
  }
  .delicious-menu .available-menu .menu__items .dish__desriptions .dish__price .price {
    font-size: 15px;
  }
  .private-events ._container {
    padding: 60px 0;
  }
  .private-events ._container .item__span__label-left {
    height: 316.663px;
    right: 10.4%;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 0.6;
    top: 10.4%;
  }
  .private-events ._container .item__span__label-right {
    height: 316.663px;
    left: 10.4%;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 0.6;
    top: 10.4%;
  }
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */